:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: whitesmoke;
}

.user-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.refetch {
  padding: 0.5rem;
}